<div *ngIf="!isProceeded" class="header">
  <h3>Masking</h3>
</div>

<div *ngIf="!isProceeded">
  <div class="mb-3">
    <span>Load parts in the bowl feeder.</span>
  </div>
  <div class="text-right">
    <button
      cButton
      class="btn"
      color="primary"
      size="lg"
      (click)="proceedToMasking()"
    >
      Proceed
    </button>
  </div>
</div>

<div *ngIf="isProceeded">
  <div class="header">
    <h3>Please start the cycle.</h3>
  </div>
  <span class="span">Machine is Ready for Production!</span>
  <span class="mb-1 span">System will track machine parameters.</span>

  <div class="text-right mt-3">
    <button cButton color="primary" size="lg" (click)="startTheProcess()">
      Start
    </button>
  </div>
</div>
