.checkMark {
  color: green;
  text-align: center;
  margin-top: 8px;
  margin-left: 14px;
}

::-webkit-scrollbar {
  display: none;
}

.table {
  text-align: center;
}

.header {
  border: none !important;
}

.button5 {
  height: 110px;
  width: 110px;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.btn {
  margin: 2px;
}

.instruction {
  margin-top: 6px;
}
