.check-box {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
.disabled-btn {
  background-color: #ebedef !important;
  border: none;
  padding: 2px !important;
  color: #000;
}
.enable-btn {
  padding: 2px !important;
}

th,
td {
  padding: 4px;
}
