.good-count {
  margin-left: 37px;
  padding: 0px;
  background-color: var(--cui-input-disabled-bg, white);
  border-color: var(--cui-input-disabled-border-color, #b1b7c1);
  opacity: 1 !important;
  background-color: white;
}

.good-bin {
  margin-left: 62px;
  padding: 0px;
  background-color: var(--cui-input-disabled-bg, white);
  border-color: var(--cui-input-disabled-border-color, #b1b7c1);
  opacity: 1 !important;
  background-color: white;
}

.reject-count {
  margin-left: 12px;
  padding: 0px;
  background-color: var(--cui-input-disabled-bg, white);
  border-color: var(--cui-input-disabled-border-color, #b1b7c1);
  opacity: 1 !important;
  background-color: white;
}

.reject-bin {
  margin-left: 49px;
  padding: 0px;
  background-color: var(--cui-input-disabled-bg, white);
  border-color: var(--cui-input-disabled-border-color, #b1b7c1);
  opacity: 1 !important;
  background-color: white;
}
