<div class="training-header-content po-card">
  <div class="row">
    <div class="col-6">PO#: {{ "122879777" }}</div>
    <div class="col-6">SachId: {{ "B81123C1472M189" }}</div>
  </div>
</div>

<div class="training-full-content p-3 scroll">
  <div>
    <div>
      <h5 class="font-weight-bold">Recipe Setup</h5>
    </div>
    <div class="mt-3 p-3 success-card">
      <span class="d-block font-weight-bold">Well Done!</span>
      <span class="d-block">Recipe loaded successfully. </span>
    </div>
    <c-nav variant="tabs" class="mt-3">
      <a
        [active]="true"
        [cTabContent]="tabContent"
        [routerLink]
        [tabPaneIdx]="0"
        cNavLink
        >Mains</a
      >
    </c-nav>
    <c-tab-content #tabContent="cTabContent">
      <c-tab-pane class="">
        <table cTable>
          <thead class="text-center">
            <tr>
              <th scope="col">Parameter</th>
              <th scope="col">Tolerance Band</th>
              <th scope="col">Reference Recipe</th>
              <th scope="col">Loaded Recipe</th>
              <th class="col-3">Set Recipe Parameter</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let loadrecipes of recipe; let i = index">
              <td>{{ loadrecipes.display_name }}</td>
              <td class="text-center">
                {{ loadrecipes.min_value }}-{{ loadrecipes.max_value }}
              </td>
              <td class="text-center">{{ loadrecipes.reference_value }}</td>
              <td class="text-center">{{ loadrecipes.loaded_value }}</td>
              <td class="text-center">
                <tr>
                  <td class="w-25 text-center">
                    <button
                      cButton
                      color="primary"
                      [disabled]="isBtnDisabledMinus"
                      (click)="minus(loadrecipes)"
                    >
                      <i class="bi bi-dash-lg"></i>
                    </button>
                  </td>
                  <td class="w-50 text-center">
                    {{ loadrecipes.value }}
                  </td>
                  <td class="w-25 text-center">
                    <button
                      cButton
                      color="primary"
                      [disabled]="isBtnDisabledPlus"
                      (click)="plus(loadrecipes)"
                    >
                      <i class="bi bi-plus-lg"></i>
                    </button>
                  </td>
                </tr>
              </td>
            </tr>
          </tbody>
        </table>
      </c-tab-pane>
    </c-tab-content>

    <div class="text-right">
      <button
        cButton
        class="ml-3"
        (click)="proceedToCompleteMachineAndRecipeStup()"
        [disabled]="false"
      >
        Proceed
      </button>
      <button cButton class="ml-3" (click)="loadRecipe()" [disabled]="true">
        Re-try Recipe Loading
      </button>
    </div>
  </div>
</div>
