.header-content {
  padding: 7px;
  border-radius: 4px black;
  height: 60px;
  background-color: white;
  margin-left: -12px;
}

.menu {
  padding: 7px;
  background-color: white;
  height: 74vh;
  width: 96%;
}

.btn {
  margin: 3px;
}

.card {
  border-radius: 9px;
  margin-right: 6px;
  margin-top: 5px;
}
.check-box {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
