.header-content {
  padding: 7px;
  border-radius: 4px black;
  height: 45px;
  background-color: white;
  margin-left: -12px;
}

.main-content {
  padding: 7px;
  background-color: white;
  width: 75%;
  height: 81vh;
}

.my-custom-scrollbar {
  position: relative;
  height: 81vh;
}

.main-wrapper-scroll-y {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side-menu {
  padding: 7px;
  background-color: white;
  height: 81vh;
  width: 23.5%;
}

.btn {
  margin: 3px;
}

.card {
  border-radius: 9px;
  margin-right: 6px;
  margin-top: 5px;
}
.is_Complete {
  color: green;
  font-weight: 900;
}
.is_Process {
  color: black;
  font-weight: 900;
}
