<div>
  <div>
    <h3>Print Labels</h3>
  </div>

  <div>
    <div class="d-flex mt-3">
      <label class="label" for="">Total Box Count</label>
      <input
        class="w-25 mb-3 form-control bins-count"
        type="number"
        [(ngModel)]="boxCount"
      />
    </div>
    <div class="d-flex">
      <label class="label" for="">Total Capacitor Count</label>
      <input
        class="w-25 ml-4 mb-3 form-control label-count"
        type="number"
        [(ngModel)]="elementCount"
      />
    </div>
  </div>

  <div class="text-right">
    <button
      cButton
      color="primary"
      size="lg"
      *ngIf="true"
      (click)="printLabel()"
    >
      Print
    </button>

    <!-- <button cButton color="secondary" size="lg" *ngIf="true">Cancel</button> -->
  </div>
</div>
