.check-box {
  margin-right: 150px;
}

.verify-po {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.input-box {
  width: 300px;
  height: 60px;
}

.feedback {
  display: flex;
  justify-content: start;
}
