.btn {
  margin: 5px;
}

input {
  text-align: right;
}

.form-control.ng-valid {
  background-image: none;
  border: 1px solid var(--cui-input-border-color, #b1b7c1);
}

.bins-count {
  margin-left: 58px;
  padding: 0px;
}

.label-count {
  padding: 0px;
}

.label {
  margin-top: 8px;
}
