.dps_sidebar_summary {
  hr {
    margin: 0.5rem 0;
  }

  .card-body {
    padding: 0.4rem 0.8rem 0.2rem 0.8rem;
  }
  // margin-top: 10px !important;
}

.dps_sidebar_action_buttons {
  padding-left: 1rem;
  padding-right: 1rem;

  position: absolute;
  bottom: 1rem;
  left: 0rem;
  right: 0rem;
}

// .card {
//   border-radius: 9px;
//   margin-right: 6px;
//   margin-top: 5px;
// }
.ps-content {
  margin: 0 1rem;
}
@media (min-width: 576px) {
  .modal-content {
    max-width: 600px !important;
  }
}
