.rework {
  width: 220px;
  border: 1px solid grey;
  padding: 15px;
  margin: 10px;
}

.main-body {
  display: flex;
  justify-content: space-between;
}

.modal {
  margin-top: 200px;
}

.modal-header {
  height: 80px;
}

.modal-body {
  height: 200px;
}

.modal-header {
  height: 80px;
}
