<h4 class="card-heading">Electrical Testing</h4>
<div class="mt-3">
  <div>
    <table class="table">
      <tr class="table-primary">
        <th>Operation</th>
        <th>P.I.N</th>
        <th>Shift</th>
        <th>Date</th>
        <th>Mach.</th>
        <th>Wheel</th>
        <th>Quantity</th>
        <th>Scrap</th>
        <th>Q</th>
        <th>M</th>
        <th>Setter</th>
        <th>Traceab</th>
      </tr>
      <tr>
        <td rowspan="4">Electrical Testing: 0160 ZP02</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
