<h4 class="card-heading">Winding</h4>
<div class="mt-3">
  <div>
    <table class="table">
      <tr class="table-primary">
        <th>Operation</th>
        <th>P.I.N</th>
        <th>Shift</th>
        <th>Date</th>
        <th>Mach.</th>
        <th>Wheel</th>
        <th>Quantity</th>
        <th>Scrap</th>
        <th>Q</th>
        <th>M</th>
        <th>Setter</th>
        <th>Traceab</th>
      </tr>
      <tr>
        <td rowspan="4">WINDING:&nbsp;&nbsp;&nbsp;&nbsp; 0010 ZP02</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div>
    <div class="scanner-position">
      <img class="img" src="../../../assets/images/barcode.jpg" alt="img" />
      <label for="" class="font-15-600 scanner-label">718639848</label>
    </div>
  </div>
  <div class="mt-5">
    <label for="" class="font-13-600"
      >Z60060S 212A 21N 8 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MPP-D
      21.15*5.8*2 P1 4.0 Oh ZnAL Nws TSl</label
    >
    <label class="font-13-600"
      >CAP:&nbsp;&nbsp;&nbsp;&nbsp;2.2&#956;F&nbsp;&nbsp;20%&nbsp;&nbsp;305vac
      &nbsp;&nbsp;&nbsp;MKP-X2 &nbsp;&nbsp;LS 22.5mm</label
    >
    <label class="font-13-600"
      >Film:&nbsp;&nbsp;&nbsp;&nbsp; 6u x 21 c60060S 210A 21 (Nashik Code )
      OR</label
    >
    <label class="font-13-600"
      >Film:&nbsp;&nbsp;&nbsp;&nbsp; 6u x 21 c60060S 210A 2160Z (Zhuhai Code )
      OR</label
    >
    <label class="font-13-600"
      >Film:&nbsp;&nbsp;&nbsp;&nbsp; 6u x 21 c60060S 210A 21 (zhejiang Huacheng
      (Nanyang) film Code ) OR</label
    >
    <label class="font-13-600">Mandrelsize:&nbsp;&nbsp;&nbsp;&nbsp;7.5mm</label>
    <label class="font-13-600"
      >Inner Sealing Turns:&nbsp;&nbsp;&nbsp;&nbsp;5</label
    >
    <label class="font-13-600"
      >Inner Burn off Turns:&nbsp;&nbsp;&nbsp;&nbsp;10</label
    >
    <label class="font-13-600"
      >Outer Sealing Turns:&nbsp;&nbsp;&nbsp;&nbsp;5</label
    >
    <label class="font-13-600"
      >Outer Burn off Turns:&nbsp;&nbsp;&nbsp;&nbsp;10</label
    >
    <label class="font-13-600"
      >Main Turns (Ref):&nbsp;&nbsp;&nbsp;&nbsp;442</label
    >
    <label class="font-13-600">Shipment:&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <label class="font-13-600"
      >Target Cap:&nbsp;&nbsp;&nbsp;&nbsp;1.848 to 1.89&#956;F</label
    >
    <label class="font-13-600"
      >For straight cut film (SS) :&nbsp;&nbsp;&nbsp;&nbsp; Maintain element
      length :&nbsp;&nbsp;&nbsp;&nbsp; 21.70 to 21.85 mm</label
    >
    <label class="font-13-600"
      >For wavecut film (SW) :&nbsp;&nbsp;&nbsp;&nbsp; Maintain element length
      :&nbsp;&nbsp;&nbsp;&nbsp; 21.80 to 21.95 mm</label
    >
    <label class="font-13-600">Ensure Element core quality is ok</label>
    <label class="font-13-600">Ensure No wrinkles on film during winging</label>
    <label class="font-13-600"
      >Ensure Production on Winding Machine No. 84, 85, 86, 106 to 120,
      125.</label
    >
  </div>
</div>
