.header {
  margin-bottom: 20px !important;
  border: none !important;
}

.main-body {
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
  margin-bottom: 10px;
}

.span {
  margin-bottom: 12px;
}

.btn {
  margin-top: 70px;
}

.check {
  margin-right: 10px;
}

.input-check {
  width: 20px;
  height: 20px;
  margin-right: 160px;
  position: absolute !important;
}

.check-box {
  margin-right: 150px;
}
