.button5 {
  height: 110px;
  width: 110px;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.gun {
  margin-left: 260px;
}
