<div class="mt-3 p-3 Warning-card" *ngIf="scannedWheel.length < 1">
  <span class="d-block font-weight-bold">Warning:</span>
  <span class="d-block">Wheel not scanned</span>
</div>

<div class="mt-3 p-3 Warning-card" *ngIf="!isWrongWheelScanned">
  <span class="d-block font-weight-bold">Warning:</span>
  <span class="d-block">Scanned wheel does not belong to current PO.</span>
</div>

<div class="mt-3 p-3 Warning-card" *ngIf="isAlreadyWheelScanned == true">
  <span class="d-block font-weight-bold">Warning:</span>
  <span class="d-block">Wheel already scanned, please scan another Wheel.</span>
</div>

<div class="mt-3 p-3 Warning-card" *ngIf="error">
  <span class="d-block font-weight-bold">Warning:</span>
  <span class="d-block">{{ error }}</span>
</div>

<div *ngIf="!showWheelDetails">
  <div>
    <h3>Loading Zone</h3>
  </div>
  <div><h3>Please Scan Wheel</h3></div>

  <button
    cButton
    color="primary"
    (click)="resetVariables()"
    *ngIf="wheelFound && error"
  >
    Re-scan
  </button>
</div>

<div *ngIf="showWheelDetails">
  <div class="main-div">
    <div
      class="loading"
      [ngStyle]="{
        'background-color':
          wheelDetails && wheelDetails?.face == 'F'
            ? '#8dfcb2'
            : wheelDetails && wheelDetails?.face == 'R'
            ? '#c1dfff'
            : null
      }"
    >
      <div class="content mb-2">
        <div>
          <span>Loading Zone</span>
        </div>
        <div>
          <span>Wheel: {{ wheelDetails?.wheel_name?.split("_MSK_")[1] }}</span>
        </div>
        <div>
          <span>Face: {{ wheelDetails?.face }}</span>
        </div>
      </div>
    </div>
    <div class="mt-5 mr-5 right-div" *ngIf="enableTurnOverWheel">
      <div class="mb-3">
        <h4>Wheel turn over</h4>
      </div>
      <div *ngIf="enableTurnOverWheel">
        <span class="mt-5">please turn over the wheel</span>
        <input
          class="check"
          cFormCheckInput
          id="checkTwo"
          type="checkbox"
          (change)="checkWheelTurnOver($event)"
        />
      </div>
    </div>
    <div *ngIf="enableUnloadAndProceed" class="mt-5">
      <div class="mb-3">
        <h4>Unload Wheel and & move</h4>
      </div>
      <div>
        <div>
          <span>Please Unload the wheel and and move it </span>
        </div>
        <div>
          <span>to inward storage for machine #M5023.</span>
        </div>
      </div>
    </div>
  </div>

  <div class="text-right mt-5" *ngIf="enableTurnOverWheel">
    <button
      cButton
      color="primary"
      (click)="proceed()"
      [ngClass]="!enableProceed ? 'btn-disabled' : ''"
      [disabled]="!enableProceed"
    >
      Confirm and Proceed
    </button>
  </div>
  <div class="text-right mt-5" *ngIf="enableUnloadAndProceed">
    <button cButton color="primary" (click)="unloadWheelAndMoveItToNext()">
      Mount New Wheel
    </button>
  </div>

  <div class="box">
    <div class="front-box"></div>
    <div class="mt-3">
      <label for="">Wheel Front</label>
    </div>
  </div>
  <div class="box">
    <div class="rear-box"></div>
    <div class="mt-3">
      <label for="">Wheel Rear</label>
    </div>
  </div>
</div>
