<div>
  <div>
    <h5 class="font-weight-bold">Line Clearance</h5>
  </div>
  <div class="mt-3">
    <span class="d-block font-weight-bold">
      Please perform line clearance on assembly {{ machine[0].name }}.
    </span>
    <span class="d-block mt-3">
      Click on checkbox to confirm that the line is clear <br />
      before starting next PO.
      <input type="checkbox" class="check-box" (change)="onCheck($event)" />
    </span>
  </div>
  <div class="mt-3 text-right">
    <button cButton size="lg" [disabled]="!isClear" (click)="onSubmit()">
      Submit
    </button>
  </div>
</div>
