.header {
  margin-bottom: 20px !important;
  border: none !important;
}

.main-body {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 26px;
}

.table {
  width: 20px;
}

.span {
  margin-bottom: 12px;
}

.input-check {
  width: 20px;
  height: 20px;
  margin-right: 160px;
  position: absolute !important;
}

.input {
  width: 100px;
  height: 25px;
  padding: 3px;
}

.btn {
  margin-top: 30px;
}

.check-box {
  margin-right: 150px;
}
