<div class="m-3">
  <div class="main-div">
    <div>
      <img class="image" src="../../../../../assets/images/Thumbs.png" alt="" />
    </div>
    <div class="text-div">
      <h4><strong>Well Done!</strong></h4>
      <div>
        <span>You have successfully completed the Winding Machine setup.</span>
      </div>
      <!-- <div class="span">
        <span
          >Please sign-out of the system and handover the machine to the
          operator.</span
        >
      </div> -->
    </div>
  </div>

  <div class="text-right mt-3">
    <button cButton color="primary" size="lg" (click)="checkOut()">
      Check out
    </button>
  </div>
</div>
