.image {
  height: 175px;
  margin-bottom: 15px;
}

.main-div {
  display: flex;
  justify-content: space-between;
}

.span {
  margin-bottom: 10px;
}

.text-div {
  margin-left: 20px;
  margin-top: 35px;
}

.span {
  margin-top: 20px;
}
