<c-modal
  class="scanner"
  id="liveDemoModal"
  [visible]="visible"
  backdrop="static"
>
  <c-modal-header>
    <h5 cModalTitle>Scan</h5>
    <button cButtonClose (click)="toggleVisibility()"></button>
  </c-modal-header>
  <div>
    <c-modal-body>
      <input
        id="getInputValue"
        class="input-box"
        type="text"
        name="barCode"
        #scanInput
        autofocus
        (keyup)="getInputValue()"
        [(ngModel)]="barCode"
        autocomplete="off"
      />
      <!-- <h3>Waiting To Scan</h3> -->
    </c-modal-body>
  </div>
</c-modal>
