.header {
  margin-bottom: 20px !important;
  border: none !important;
}

.main-body {
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
  margin-bottom: 10px;
}

.span {
  margin-bottom: 12px;
}

a {
  text-decoration: none;
  color: #b4afaf;
  font-size: 18px;
  font-weight: 600;
}
.active {
  color: #2c6dd3 !important;
}
