.checkMark {
  color: green;
  text-align: center;
  margin-top: 8px;
  margin-left: 14px;
}

.header {
  margin-bottom: 30px;
  border: none !important;
}

.footer {
  margin-top: 160px;
}

.input {
  width: 150px;
  margin-left: 25px;
  height: 29px;
}
