.dps_sidebar_action_buttons {
  padding-left: 1rem;
  padding-right: 1rem;

  position: absolute;
  bottom: 1rem;
  left: 0rem;
  right: 0rem;
}

.scanner {
  margin-top: 250px;
}

.modal-header {
  height: 70px;
}

.modal-body {
  height: 85px;
}

.input-box {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  text-align: left !important;
}
